/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'DingTalk JinBuTi', -apple-system, BlinkMacSystemFont,
    Segoe UI Variable, Segoe UI, system-ui, ui-sans-serif, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.drawnix-console {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 200px;
  width: 100px;
  overflow: auto;
  background-color: black;
  color: white;
  padding: 8px;
  opacity: 0.5;
}

select {
  font-family: 'DingTalk JinBuTi', -apple-system, BlinkMacSystemFont,
    Segoe UI Variable, Segoe UI, system-ui, ui-sans-serif, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
